<html lang="en">
	<head>
		<title>index</title>
		<link rel="stylesheet" href="../static/style.css">
	</head>

	<body bgcolor="#e6ffee">
		<div class="one">
			<div class="two">
				<h1>Side Bar</h1>
				<ul>
					<li class="active"><a href="{{url_for('index')}}">Index</a></li>
					<li><a href="{{url_for('display')}}">Display</a></li>
					
					<li><a href="{{url_for('logout')}}">Log out</a></li>
				</ul>
			</div>
		</div>
        {% block content %} {% endblock %}
	</body>
</html>            